<h1>Stupid Coaching </h1>

  <div class="container">
    <p>You:</p>
    <p><%= @question %></p>
  </div>
    <div class='banner'>
      <p> Coach answer:</p>
      <p><%= @answer %></p>
    </div>
    <a><%= link_to 'Ask', ask_path %></a>
  </div>
